<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite">

	
		  <test name="Android Test 3" enabled="true">	
			<parameter name="Automation" value="appium"></parameter>
			<parameter name="PlatformName" value="android" />
			<parameter name="PlatformVersion" value="9" />
			<parameter name="DeviceName" value="Avon Samsung Galaxy S8" />
			<parameter name="udid" value="ce11171bf27b483902" /> 
			<parameter name="Application" value="WSJ App"/> 
			<parameter name="Port" value="4723"/> 
			<parameter name="systemPort" value="8200"/> 
			<classes>
	
			 <class name="testcases.AmazonAndroid" /> 
			</classes>
	</test>

	
	
</suite>
